.tarjeta{
    border: 2px solid #000;
    border-radius: 5px;
    padding: 10px;
    background: #c4c4c4;
    color: #fff;
    margin-bottom: 10px;
}
.grupo-etiquetas {
  margin-top: 20px;
  margin-bottom: 20px;
}

.etiqueta {
  border-radius: 8px;
  padding: 10px;
  background: #c4c4c4;
  margin-right: 5px;
}

.logo {
  margin-right: 10px;
}

.logo-img {
  width: 50px;
  height: auto;
}

.redes-sociales-text {
  font-weight: bold;
  text-decoration: underline;
}